langgraph
langchain
langchain-openai
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-ollama
python-multipart
fastapi
uvicorn[standard]
sqlmodel
httpx
pytest
pytest-asyncio
pytest-cov
pytest-mock
psycopg2-binary
asyncpg
alembic
pydub
numpy
openai-whisper